header{
    color: Blue;
    background-color: PaleTurquoise;
    width: 60%;
    text-align: center;
    border: solid 4pt DodgerBlue;
    border-radius: 80px;
    padding: 1%;
    margin-bottom: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: SkyBlue;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: MediumBlue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: LightCyan;
}
footer{
    color: Blue;
    background-color: PaleTurquoise;
    left: 0;
    width: 45%;
    text-align: center;
    border: solid 4pt DodgerBlue;
    border-radius: 80px;
    padding: 1%;
    position: relative;
    margin-top: 10px;
}
div#kodu {
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
}
div#euroopa {
    width: 15%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#kuupaev {
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#tekstifunktsioonid {
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#veebis {
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#hooaeg{
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#koolivaheag{
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#sunnipaev{
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#vanus{
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
div#samatoo{
    width: 35%;
    padding: 1%;
    background-color: LightCyan;
    border: solid 3pt RoyalBlue;
    margin-top: 10px;
}
